<%- include('../partials/header') %>

    <h1 class="text-center my-5"><%- article.title %></h1>
    <div class="text-muted mb-3">
      <%= article.createdAt.toLocaleDateString() %>
    </div>

    <a href="/blog" class="btn btn-secondary">All Posts</a>
    <a href="/posts/edit/<%= article.id %>" class="btn btn-success">Edit</a>
    
    <div class="my-3">      
    <%- article.markdown %>
    </div>

<%- include('../partials/footer') %>